*{
    box-sizing: border-box;
    font-family: Inter;
}
.post_container{
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-bottom:1px solid rgb(239, 243, 244);;
}
.post_username,.post_message{
    margin:0;
}
.post_username{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}
.post_message{
  word-wrap: break-word;     
  overflow-wrap: anywhere; 
  white-space: pre-wrap; 
}

/* POST COMPONENTS */
.post_components{
    margin: 3px;
    padding: 8px;
    display: flex;
    gap: 1rem;
}
.post_button{
    border: none;
    background-color: white;
    cursor: pointer;

}
.feed_input_container{
    width: 100%;
}
.search_input_container{
    display: flex;
    gap: 1rem;
}
.search_container{
    width: 30%;
}